 <header>
        <nav class="navbar navbar-white bg-white p-4">
            <a class="navbar-brand" href="#"><h2>Lauren Darrimon</h2></a>
          </nav>
</header>

<section class="row" id="portfolio">
    <div class="col-12">
        <h2 class="display-2"> 
            <a href="{{deployed_url}}" target="_blank">
                     {{title}}
            </a>
        </h2>
    </div>
    <div class="col-12">
        <div id="portfolio-list-section" class="row">
            <div class="portfolio-items col-12">

                <a href="{{repo_url}}" target="_blank">
                    <h3>Code</h3>
                </a>

                <p> {{description}} </p>

                <a class="thumbnail">
                    <img src="{{image_path}}" />
                </a>
            </div>
        </div>
    </div> 
</section>

